:root {
  --cl-blue: #3498db;
  --cl-white: #ecf0f1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style: none;
}

body {
  height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--cl-blue);
  color: var(--cl-white);
  transition: 0.3s;
}

body.dark {
  background-color: var(--cl-white);
  color: var(--cl-blue);
}

main {
  height: calc(85% - 10px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  translate: -50%;
}

.wrapper {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
@media (min-width: 950px) and (max-width: 1130px) {
  .wrapper {
    width: 100%;
    justify-content: center;
    gap: 20px;
  }
}

.block-click {
  pointer-events: none;
}

#message {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 110%;
  color: #f00c;
}
